.title {
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    color: #363636;
    margin: 0;
    &_sm {
        font-size: 20px;
        line-height: 28px;
        color: #242424;
    }
}